template(name="defaultLayout")
  head
    title EATING THE .COM
    
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')
    link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")

  body    
    #container
      #app
        if finishedLoading
          +header
          main
            +yield
          +footer
        else
          +spinner