template(name="eat_the_web_description")
  p 
    b Eat the Web 
    | was a web scraper with a visual mapping tool aimed at making the process of setting up and monitoring the scrapes of thousands of sites as easy as possible.

  p 
    | It was a side-project that pre-dated current apps like 
    a(href="https://www.kimonolabs.com/") kimono
    |, and gave me a chance to dive deep into Meteor.js (though it was later re-written in Sails/Angular).

