template(name="seedlang")
  .grid
    .column
      +siteInfo site=site descriptionTemplate=descriptionTemplate

      .block
        img.zoom(src='/images/seedlng_new_1.jpg')
        .icon-bg
          i.fa.fa-search-plus.fa-lg
        figcaption
          h5 "Seeding" new information.
          p Users are introduced to words, phrases, and concepts through a short video clip.  Side-notes relating to the clip are shown on the side.

      .block
        img.zoom(src='/images/seedlng_producer.jpg')
        .icon-bg
          i.fa.fa-search-plus.fa-lg
        figcaption
          h5 A custom OSX app for recording the videos.
          p We needed higher quality video than could be attained when recording through a web interface, thus the building of this OSX app. It also allowed for recording to a square aspect ratio and immediate transcoding after recording.

    .column
      .block
        img.zoom(src='/images/seedlng_new_4.jpg')
        .icon-bg
          i.fa.fa-search-plus.fa-lg
        figcaption
          h5 The landing page.
          p This was an early iteration of the software that was simply video-flashcards.

      .block
        img.zoom(src='/images/seedlng_new_5.jpg')
        .icon-bg
          i.fa.fa-search-plus.fa-lg
        figcaption
          h5 Translating a sentence.
          p Users are asked to translate a sentence, and if they struggle they can click the "Help" button to be given information about the translation and even to pivot the lesson to work on the concept that they struggled with.



