template(name="seedlng_description")
  p 
    a(href="http://seedlng.net") Website

  p
    b Seedlng
    | provides curated video flashcards for language learning.  The software is currently bing tested with the Georgian alphabet as the initial flashcard deck.