template(name="seedlng_description")
  p 
    a(href="http://seedlng.net") Website

  p
    b Seedlng
    | is a video-based language learning program that focuses on improving conversational fluency.  It is a side-project that continues to receive development.

  p It was inspired by my dissatisfaction with existing online language learning tools while learning German, and takes inspiration from various audio-book programs. 