template(name="techmasters_description")
  p 
    b Techmasters
    | is a personal project for a meetup group that provides a supportive environment for technologists to work on their public speaking skills.