template(name="techmasters_description")
  p 
    a(href="http://techmasters.io") Website
  p 
    b Techmasters
    | is a personal project for a meetup group that provides a supportive environment for technologists to work on their public speaking skills.

  p
    The project is currently dormant (hence the Heroku free tier) but I am hoping to revive it later this year.