template(name="techmasters")
  .grid
    .column
      +siteInfo site=site descriptionTemplate=descriptionTemplate

    .column
      .block
        img.zoom(src='/images/techmasters_1.jpg')
        .icon-bg
          i.fa.fa-search-plus.fa-lg
        figcaption
          h5 The landing page.
